.index {
  @media only screen and (max-width: 600px) {
    &__banner {
      height: 300px;
    }
  }
  @media only screen and (min-width: 600px) {
    &__banner {
      height: 700px;
    }
  }
  &__banner {
    &__image {
      width: 100%;
    }
  }
}
.product {
  &__cover {
    width: 300px;
    height: auto;
  }
}
